{% load i18n static %}

<div>
  <div class="card">
    <div class="card-image">
      <span class="badge-image z-depth-2">{{ d_widget.title }}</span>
      {#    <img src="{{ result.enclosures.0.href }}" alt="{{ title }} – {% trans "title image" %}">#}
      <img src="{{ d_widget.img_href }}" alt="{{ d_widget.title }} – {% trans "title image" %}"
           onerror="this.src='{% static "dashboardfeeds/image_not_found.png" %}'; "/>
    </div>
    {# THIS DOSEN'T WOKR! #}
    <div class="card-content"><span class="card-title">{{ d_widget.result.title }}</span>
      {{ d_widget.rich_text }}
    </div>
    <div class="card-action">
      <a href="{{ d_widget.result.link }}" target="_blank">Mehr lesen</a>
    </div>
  </div>
  <a class="btn hundred-percent primary-color" href="{{ d_widget.base_url }}" target="_blank">Weitere Artikel
    <i class="material-icons right">arrow_forward</i>
  </a>
</div>
